<a href="https://colab.research.google.com/github/mominkhan78/AILab4thSemester/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **1. Differentiation between assignment operator and equality operator:**

  **Assignment Operator (=):**

  Used to assign a value to a variable.
  Example: x = 10 assigns the value 10 to the variable x.

  **Equality Operator (==):**

  Used to compare two values for equality.
  Example: if x == 10: checks if the value of x is equal to 10.

# **2. Exploration of variables and code examples for each data type:**

**Integer variable:**

In [4]:
x = 5
y = -10

**Floating-point variable:**

In [5]:
a = 3.14
b = -2.5

**String variable:**

In [ ]:
name = "John"
message = 'Hello, world!'

**Boolean variable:**

In [6]:
is_valid = True
is_finished = False

# **3. Rules for variable names and examples:**

Variable names can include letters, numbers, and underscores (_), but must start with a letter or underscore. They cannot contain spaces or special characters except underscores.

**Examples:**

In [ ]:
my_variable = 10
_myVariable = 20
var_123 = "hello"

# **4. Declaration and initialization of multiple variables:**

**Single variable with multiple values:**

In [ ]:
a, b, c = 1, 2, 3

**Multiple variables with single values:**

In [ ]:
x = y = z = 10

# **5. Arithmetic operations on integers and floating-point numbers:**

**Integer operations:**

In [7]:
a = 10
b = 5
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b

**Floating-point operations:**

In [8]:
x = 3.5
y = 2.0
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y

# **6. String literals and examples:**

In [9]:
single_quote = 'Hello, world!'
double_quote = "It's a beautiful day."
mixed_quote = "She said, \"I love Python.\""

# **7. Examples using the print() function:**

In [10]:
x = 10
y = 20
print("The value of x is:", x)
print("The value of x and y are:", x, y)
name = "Alice"
age = 25
print(f"Name: {name}, Age: {age}")
print(f"Next year, {name} will be {age + 1} years old.")

The value of x is: 10
The value of x and y are: 10 20
Name: Alice, Age: 25
Next year, Alice will be 26 years old.