<a href="https://colab.research.google.com/github/mominkhan78/AILab4thSemester/blob/main/Lab2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 2 and Lab 3**

# **Task 1:**
**Print at least 5 types of data type**

**Int:**

In [12]:
a = 12
b = 13
c = 69
d = 74
e = 99

**Float:**

In [ ]:
af = 12.2
bf = 13.3
cf = 69.96
df = 74.47
ef = 99.99

**Complex**

In [ ]:
ae = 12j
be = 13j
ce = 69j
de = 74j
ee = 99j

# **Task 2**
**⦁	Write example of type conversion for each ( minimum 3)**

In [34]:
# # int
# a = 12
# b = 13
# c = 69
# d = 74
# e = 99

# # float
# af = 12.2
# bf = 13.3
# cf = 69.96
# df = 74.47
# ef = 99.99

# # Complex
# ae = 2 + 12j
# be = 3 + 13j
# ce = 6 + 69j
# de = 1 + 74j
# ee = 8 + 99j



# Type conversion from int to float
aif = float(a)
bif = float(b)
cif = float(c)
dif = float(d)
eif = float(e)

# Type conversion from float to int
afi = int(af)
bfi = int(bf)
cfi = int(cf)
dfi = int(df)
efi = int(ef)

# Type conversion from complex to int
aci_imag = ae.imag
aci_real = ae.real
# bci = int(be)
# cci = int(ce)
# dci = int(de)
# eci = int(ee)

# print(aci_imag)
# print(aci_real)

print(a,type(a),af,type(af),ae, type(ae))

12 <class 'int'> 12.2 <class 'float'> (2+12j) <class 'complex'>

# **Task 3**
**Assign multiple strings to single variable with your name , registration number, program , semester etc**

In [20]:
data1 = "Momin","Khan","B22F1181AI056","03107717890","BSAI","4th"
data2 = "Hamza","Rashid","B22F0280AI075","03108881738","BSAI","4th"
data3 = "Qasim","Khan","B22F1181AI046","03107871721","BSAI","4th"
print(data1)
print(data2)
print(data3)

('Momin', 'Khan', 'B22F1181AI056', '03107717890', 'BSAI', '4th')
('Hamza', 'Rashid', 'B22F0280AI075', '03108881738', 'BSAI', '4th')
('Qasim', 'Khan', 'B22F1181AI046', '03107871721', 'BSAI', '4th')

# **Task 4**
**Write Your country name and access the last 3 characters**

In [26]:
CName = "Pakistan"
print(CName[-3:-1])

ta

# **Task 5**
**Write code and observe using len() function it count space or not.**

In [27]:
name = " Pakistan  "
lenName = len(name)
print(lenName)

# Yes It do count

11

# **Task 6**
**Write code to access the 2nd and 3rd character of your name using negative indexes.**

In [30]:
C1Name = "Pakistan"
print(C1Name[-6:-3])

kis

# **Task 7**
**Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.**

In [42]:
age = 21
p_age = "Momin age is {}"
print(p_age.format(age),p_age[3:9])

age = 20
p_age = "Faizan age is {}"
print(p_age.format(age),p_age[3:9])
age = 19
p_age = "Ahmed age is {}"
print(p_age.format(age),p_age[3:9])
age = 42
p_age = "Ali age is {}"

print(p_age.format(age),p_age[3:9])

Momin age is 21 in age
Faizan age is 20 zan ag
Ahmed age is 19 ed age
Ali age is 42  age i

# **Task 8**
**Take input from user and  than display it like “John age is: age”**

In [39]:
for x in range(4):
  age = input("Enter Your Age ")
  Name = input("Enter your Name ")
  p_age = "{} age is {}"

  print(p_age.format(Name, age))

Enter Your Age 12
Enter your Name momin
momin age is 12
Enter Your Age qasim
Enter your Name 31
31 age is qasim
Enter Your Age Hamza
Enter your Name 1
1 age is Hamza
Enter Your Age ali
Enter your Name 99
99 age is ali