<a href="https://colab.research.google.com/github/mominkhan78/AILab4thSemester/blob/main/Lab4and5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tasks:**

**Here are some tasks you can design using Python operations and concepts related to lists:**

Access List Items:

Create a list of fruits.

Print the first and last items of the list.

Change List Items:

Create a list of colors.

Change the second item in the list to "blue".

Add List Items:

Create a list of numbers.

Add the number 10 at the end of the list.

Remove List Items:

Create a list of animals.

Remove the third item from the list.

Loop Lists:

Create a list of cities.

Loop through the list and print each city.

List Comprehension:

Create a list of numbers from 1 to 10.

Use list comprehension to create a new list containing the square of each number.

**Access List Items:**

  Create a list of fruits.

  Print the first and last items of the list.

In [3]:
fruits = ["Apple", "Banana","Orange", "Pine Apple"]
print("First element:",fruits[0])
print("Last Element:",fruits[-1])

First element: Apple
Last Element: Pine Apple

**Change List Items:**

Create a list of colors.

Change the second item in the list to "blue".

In [4]:
colors = ["Red","Green","Orange"]
print("Before Changing Color:",colors)
colors[1] = "Blue"
print("After Changing Color:", colors)

Before Changing Color: ['Red', 'Green', 'Orange']
After Changing Color: ['Red', 'Blue', 'Orange']

**Add List Items:**

Create a list of numbers.

Add the number 10 at the end of the list.

In [7]:
numbers = [1,2,3,4,5,6,7,8,9]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Remove List Items:**

Create a list of animals.

Remove the third item from the list.

In [8]:
animals = ["Dog","Cat","Hourse"]
animals.remove("Dog")
print(animals)

['Cat', 'Hourse']

**Loop Lists:**

Create a list of cities.

Loop through the list and print each city.

In [10]:
cities = ["CityA","CityB","CityC","CityD"]
for city in cities:
  print(city)

CityA
CityB
CityC
CityD

**List Comprehension:**

Create a list of numbers from 1 to 10.

Use list comprehension to create a new list containing the square of each number.

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbersSqr = []

for number in numbers:
  num = pow(number, 2)
  numbersSqr.append(num)

for number in numbersSqr:
  print(number)

1
4
9
16
25
36
49
64
81
100

**Sort Lists:**

Create a list of names.

Sort the list alphabetically.

In [14]:
randNum = [3,2,6,4,7]
randNum.sort()
print(randNum)

[2, 3, 4, 6, 7]

**Copy Lists:**

Create a list of fruits.

Copy the list into a new list.

In [15]:
citiesB = cities.copy()
print(citiesB)

['CityA', 'CityB', 'CityC', 'CityD']

**Join Lists:**

Create two lists of numbers.

Join the two lists into a single list.

In [17]:
citiesC = cities + citiesB
print(citiesC)

['CityA', 'CityB', 'CityC', 'CityD', 'CityA', 'CityB', 'CityC', 'CityD']

**List Methods:**

Create a list of fruits.

Use the append() method to add a new fruit to the list.

Use the pop() method to remove the last fruit from the list.

In [21]:
print(citiesC)
citiesC.append("CityE")
print(citiesC)
citiesC.pop(2)

['CityA', 'CityB', 'CityC', 'CityD', 'CityA', 'CityB', 'CityC', 'CityD', 'CityE']
['CityA', 'CityB', 'CityC', 'CityD', 'CityA', 'CityB', 'CityC', 'CityD', 'CityE', 'CityE']

'CityC'

**Combining Lists and List Comprehension:**

Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.

Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [22]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = []

for i in range(5):
  list3.append(list1[i]+list2[i])

print(list3)

[7, 9, 11, 13, 15]

**Filtering and Sorting:**

Create a list of numbers.

Use list comprehension to create a new list containing only the even numbers from the original list.

Sort the new list in descending order.

In [23]:
listOfNumbers = [1,2,3,4,5]
evenNumbers = []

for num in listOfNumbers:
  if num%2==0:
    evenNumbers.append(num)

print(evenNumbers)

[2, 4]

**List Slicing and Reversing:**

Create a list of numbers from 1 to 10.

Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = []
evenNumbersInReveseForm = []

for i in numbers:
  if i%2==0:
    evenNumbers.append(i)

print(evenNumbers)

evenNumbers.reverse()

print(evenNumbers)

[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

**Combining Lists and List Methods:**

Create two lists, one containing even numbers and another containing odd numbers.

Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [27]:
EvenNumbers = [2,4,6,8,10]

OddNumbers = [1,3,5,7,9]

WholeList = EvenNumbers + OddNumbers

print(WholeList)

WholeList.sort()

print(WholeList)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]