In [ ]:
a = 10
b=10.3
c='a'
print(a,b,c)
print(type(a))
print(type(float(a)))